.row {
    display: flex;
    justify-content: space-between;
}

.row {
    flex-direction: row
}
{
    backgroud-color: pink;
    background: ("https://i0.wp.com/www.solidcolore.com/thumb/ffcfcf_background.jpg?ssl=1");
}